@import "../../assets/scss/styled.scss";

.task{
    width: 100%;
    max-width: 500px;
    padding: 12px 20px;
    background-color: $gray-color;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.task_finish{
        background-color: $sucess-color;
    }

    .task___description{
        font-weight: 700;
    }
}